<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key></key>
	<string></string>
	<key>NSAccessorySetupBluetoothCompanyIdentifiers</key>
	<array>
		<string></string>
	</array>
	<key>NSAccessorySetupBluetoothNames</key>
	<array>
		<string></string>
	</array>
	<key>NSAccessorySetupBluetoothServices</key>
	<array>
		<string></string>
	</array>
	<key>NSBluetoothServices</key>
	<array/>
	<key>NSCameraPortraitEffectEnabled</key>
	<false/>
	<key>NSCameraReactionEffectsEnabled</key>
	<false/>
	<key>NSCameraStudioLightEnabled</key>
	<false/>
	<key>NSLocationDefaultAccuracyReduced</key>
	<false/>
</dict>
</plist>
